.profile-pic-wrapper {
  width: 90px;
  height: 60px;
  cursor: pointer;
}

.profile-pic-wrapper img {
  position: relative;
  width: 90px;
  border: 1px solid #1e7e34;
}

.profile-pic-wrapper:hover img {
  position: relative;
  width: 460px;
  z-index: 1;
}
